:root {
    --el-color-primary: #af150b !important;
}
.custom-card {
    .el-card__body {
        min-height: calc(100vh - 255px);
    }
}
.data-table-content {
    td {
        max-width: 250px !important;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
    }
}
.el-tree-node__label {
    text-overflow: ellipsis;
    overflow: hidden;
}
